@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="content text-center">
        <h2> Find all workers in Nepal</h2>
        <h5>One cup of Coffee Everyday keeps you working Everyday</h5>
    </div>

    
</div>

