@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Employees";
}


<div class="row">
    @foreach (var item in Model)
    {
        @if (item.InactiveUsers == false)
        {
            <div id="display" class="p-2">
                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                    <div class="card">
                        <img src="~/mstile-150x150.png" alt="Avatar" class="Imagee">
                        <div class="container text-center">
                            <h5>@item.Firstname @item.LastName</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>

@section Scripts{ 



}
