@model RegisterViewModel
@{
    ViewBag.Title = "User Registration";
    Layout = "/Views/Shared/_Layout1.cshtml";
}
<div>
    <p>Already have an Account?<a asp-controller="Account" asp-action="Login"> Log in</a></p>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group first">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" placeholder="Enter Firstname" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" placeholder="Enter Lastname" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" placeholder="Enter Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class=" form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" placeholder="Enter Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group last">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm  Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="submit" value="Register" class="btn btn-block btn-primary pt-1">
    </form>

</div>

