@model WorkerHub.ViewModel.ValidateEducation

<div class=" col-md-2 mr-auto">
    <a asp-action="ExpCreate" asp-controller="Resume">Back to List</a>
</div>
<div class="row">
    <div class="card col-md-6 offset-3 text-center">
        <div class="card-header">
            <div class="text-center">
                <h4>Add Education</h4>
            </div>
        </div>
        <div class="card-body   box-shadow ">
            <form asp-action="Create" onsubmit="return validation()">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label hidden asp-for="id" class="control-label"></label>
                    <input hidden asp-for="id" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Qualification" class="control-label"></label>
                    <input asp-for="Qualification" class="form-control" />
                    <span asp-validation-for="Qualification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Startdate" class="control-label"></label>
                    <input type="date" asp-for="Startdate" class="form-control" />
                    <span asp-validation-for="Startdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Enddate" class="control-label"></label>
                    <input type="date" asp-for="Enddate" class="form-control" />
                    <span asp-validation-for="Enddate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Graduated" class="control-label"></label>
                    <input asp-for="Graduated" class="form-control" />
                    <span asp-validation-for="Graduated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Addressname" class="control-label"></label>
                    <input asp-for="Addressname" class="form-control" />
                    <span asp-validation-for="Addressname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" onclick="return validation()" />
                </div>
            </form>
        </div>
    </div>
</div>

