@{
    Layout = "/Views/Shared/_Layout1.cshtml";
}

<div class="row">
    <div class="col-md-6 center">
        <div class="card login">
            <div class="card-header">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login" >Sign In</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                @RenderBody()
            </div>
        </div>
    </div>
    
</div>

@section scripts{
    @RenderSection("Scripts", required: false)

}